<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>821219337558-g00tpvf8ff7prp7isb0skrjjdsk1lqqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821219337558-g00tpvf8ff7prp7isb0skrjjdsk1lqqa</string>
	<key>API_KEY</key>
	<string>AIzaSyBtyaMbWlW9jfiJcMvwVGlmepj2x2CgIb0</string>
	<key>GCM_SENDER_ID</key>
	<string>821219337558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ZhaowenLuo.TapThatDonkey</string>
	<key>PROJECT_ID</key>
	<string>notgoodapps</string>
	<key>STORAGE_BUCKET</key>
	<string>notgoodapps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:821219337558:ios:e39e3d56971591aa</string>
	<key>DATABASE_URL</key>
	<string>https://notgoodapps.firebaseio.com</string>
</dict>
</plist>