<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>422953443188-7levbqh00s99vh44j1a14li1vbtc7sdv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422953443188-7levbqh00s99vh44j1a14li1vbtc7sdv</string>
	<key>API_KEY</key>
	<string>AIzaSyDr9SoSUR-Ot1JUd_B--NxMDLIC09GIrAY</string>
	<key>GCM_SENDER_ID</key>
	<string>422953443188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ZhaowenLuo.BoltingNinjaGame</string>
	<key>PROJECT_ID</key>
	<string>boltingninja</string>
	<key>STORAGE_BUCKET</key>
	<string>boltingninja.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:422953443188:ios:93829c5144ee8fd3</string>
	<key>DATABASE_URL</key>
	<string>https://boltingninja.firebaseio.com</string>
</dict>
</plist>