<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TapThatDonkey.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>595092CF1F16E6F800BD46B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>595092E91F16E6F900BD46B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>595092F41F16E6F900BD46B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
